@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

.navbar{
    /* border:1px solid white; */
    height: 10vh;
    position: sticky;
    width: 100vw;
    display:flex;
    justify-content:space-between ;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    
    /* border:1px solid white; */
    
}
.add-sign{
    top:-10px;
    /* border: 1px solid red; */
    width: 5vw;
    height: 4vw;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Sigmar";
 
    
}
.add-sign:hover{
    transform: scale(1.1);
    transition: ease-in-out 1s;
}
p{
    color:rgb(164,163,158);
    font-size: 2em;
    transition: ease-in-out 1s;

    
}
.add-s{
    color:rgb(182, 174, 69);
    font-size: 4em;
    
    transition: ease-in-out 1s;
}
.center-div{
    border:1px solid white;
    border-radius: 90px;
    width: 70%;
    position: relative;
    color:white;
    display: flex;
    justify-content: center;
    height: 200px;
    gap:20px;
    transition: ease-in-out 1s;
    cursor: pointer;  

} 
.plus-s{
    color:white;
    font-size: 2em;
}
.center-div p:hover{
    transform: scale(1.1);
    text-decoration: underline;
    transition: ease-in-out 1s;
    color : #6ac292;
}
.center-div p {
    margin: 0; /* Remove any default margin */
    padding: 10px; /* Add padding to ensure visibility */
}

.icon{
    font-size: 3em;
    /* border: 1px solid red; */
    /* width: 20vw; */
    margin: 10px;
}
.icon-2{
    display: flex;
    color: rgb(194,158,19);
    justify-content: flex-end;
    /* border: 1px solid red; */
    width: 100%;
}
.icn{
    /* border:1px solid white; */
    width:60px;
    height: 60px;
    transition: ease-in-out 1s;
}

.imn{
    width: 50px;
    height: 50px;
    /* position: absolute; */
    /* margin:0 auto; */
    /* border:1px solid white; */
    transition: 1s ease-in-out;
}
.imn:hover{
    transform: scale(1.2);
    transition: 1s ease-in-out;
}
.icn:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
}