@tailwind base;
@tailwind components;
@tailwind utilities;  

body{
    background-image:url("https://images.pexels.com/photos/27895797/pexels-photo-27895797/free-photo-of-amanecer-paisaje-naturaleza-cielo.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    width:auto;
    height: auto;
    background-size:cover;
    background-repeat: no-repeat;
}
@media (max-width:850px) {
    body{
        background-size:450%;
        background-position: center;
    }
    
    
}