
.layout{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;

}

@media (max-width:850px) {
    .layout{
        display : flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    
    
}